.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width: 28px;
        height: 3px;
        background-color: set-text-color($primary-color);
        margin-bottom: 5px;
        @include easeOut
    }

    //Rotate into an X with menu lines
    //Whole menu-btn
    &.close{
        transform: rotate(180deg);
        //Menu lines
        .btn-line{
            //and specifically the first one...
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }
            //second one is hidden
            &:nth-child(2){
                opacity: 0;
            }
            //third one
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px); 
            }
        }
    }
}

//Menu Overlay

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
    //This class is actually menu-branding, but you can shortcut it, as our parent also features the word menu :) 
    &-branding, &-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        //original position is above the page
        transform: translate3d(0, -100%, 0);
        opacity: 0.9;
        @include easeOut;

        &.show{
            //slide in from top with show class
            transform: translate3d(0, 0, 0);
        }


    }

    &-branding{
        //original position is below the page
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        
        
                 

        &.show{
            //slide in from bottom with show class
            transform: translate3d(0, 0, 0);
        }

        .portrait{
            width: 17em;
            height: 17em;
            transform: rotate(45deg);
            transform-origin: 50% 50%;
            border-radius: 0.5em;
            
            background-color: #acc7d8;
            
            overflow: hidden;               

            img{
                width: 145%;
                opacity: 1;
                cursor: pointer;           
            }
        }

        .portrait-cont{
            transform: rotate(-45deg) translate(-0.5em, -3em);
            background-color: #aacbde;
        }

        
    }
    
    .nav-item{
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        font-size: 45px;
        &.show{
            //slide in from right with show class
            transform: translate3d(0, 0, 0);
        }

        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link{
        display: inline-block;
        position: relative;
        padding: 1rem 0;
        font-weight: 350;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover{
            color: $secondary-color;
        }


    }

}

//Delay each nav-item slide by 0.1s

    @for $i from 1 through 4 {
        .nav-item:nth-child(#{$i}) {
        transition-delay: $i * 0.05s;
    }

}
 