//Widescreens

@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);

    }
}

//Desktops and Laptops

@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
       
    }

    .about-info {
        grid-template-areas:
        'bioimg bio'
        'job1 job1'
        'job2 job2' 
        'job3 job3';

        grid-template-columns: repeat(2, 1fr);

    }
    
}

//Tablets and Small Laptops

@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            margin-top: 0.5em;
            font-size: 5rem;

        }
    }

    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;    
    }

    .menu-branding{
        height: 35vh;
        transform: translate3d(100%, 0, 0);
        background-color: $primary-color;
        opacity: 0.8;
        .portrait{
            width: 10em;
            height: 10em;
            min-height: 10em;
            min-width: 10em;;

            img{
                transform: translate(-0.6em, 1.2em);
            }

        }
    }
    .menu-nav{
        height: 65vh;
        transform: translate3d(-100%, 0, 0);
        margin-bottom: 50px;
        .nav-item{
            transform: translate3d(0, 400%, 0);
            font-size: 30px;
        }
    }
 
    .about-info {
        grid-template-areas:
        'bioimg'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;

        .job{
           text-align: left;
        }
    }
    
    
 
    .projects {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .boxes{
        div{
        font-size: 1.5rem;
        padding: 1.2em 2.2em;
        &:hover{
            padding: 1.4em 2.4em;
        }
        }
    }
}

//Awkward middle phases

//Landscape

@include mediaSmLandscape {
    #no-pic{
        .menu-nav{
            flex-direction: row;

            .nav-item a{
                font-size: 0.5em;
                margin: 0.7em;
            }
        }
    }

        body{
            @include background;
        }
       
    }

    @mixin mediaSmPortrait {
        body{
            @include background;
        }
    }
    



@include mediaSmMd{
    
    #no-pic{
        .menu-nav{
            .nav-item{
                font-size: 3.5em;
                .logo{
                    width: 4rem;
                }
            }
        }
    }
}

@include mediaSmMd2{
    .projects {
        grid-template-columns: repeat(1, 1fr);
        
        }
    
    
    #no-pic{
        .menu-nav{
            .nav-item{
                font-size: 3em;
            }
         }
    }
}


//Smartphones

@include mediaSm {
    
    main {
        
        .lg-heading{
            font-size: 4.5rem;
        }

        &#home {

            h1 {
                margin-top: 0.5em;
                
                cursor: pointer;
            }

            h2 {
                font-size: 2.2rem;
            }
    }

    .icons{
        display: none;
    }

    .icons-small{
        display: inline-block;
    }

    .menu-branding {
        
        .portrait{
        width: 7em;
        height: 7em;
        min-height: 5em;
        min-width: 5em;

            img{
                transform: translate(-0.9em, 2.1em);
                width: 140%;
            }


        }
    }

    .about-info {
        .bio{
            font-size: 1.1rem;
        }


    }

    .projects {
    grid-template-columns: repeat(1, 1fr);
    
    }

    #work-sub{
        font-size: 1.2rem;
    }
    .boxes {
        div{
        font-size: 1rem;
        padding: 1em 2em;
        &:hover{
            padding: 1em 2em;
        }
        }
    }

}



}