//Widescreens

@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);

    }
}

//Desktops and Laptops

@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
       
    }

    .about-info {
        grid-template-areas:
        'bioimg bio'
        'job1 job1'
        'job2 job2' 
        'job3 job3';

        grid-template-columns: repeat(2, 1fr);
    }
    
}

//Tablets and Small Laptops

@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 5rem;

        }
    }

    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;    
    }

    .menu-branding{
        height: 35vh;
        transform: translate3d(100%, 0, 0);
        background-color: $primary-color;
        opacity: 0.8;
        .portrait{
            width: 10em;
            height: 10em;
            min-height: 10em;
            min-width: 10em;;

            img{
                transform: translate(-0.6em, 1.2em);
            }

        }
    }
    .menu-nav{
        height: 65vh;
        transform: translate3d(-100%, 0, 0);
        margin-bottom: 50px;
        .nav-item{
            transform: translate3d(0, 400%, 0);
            font-size: 30px;
        }
    }
 
    .about-info {
        grid-template-areas:
        'bioimg'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }
    
    .projects {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

//Awkward middle phases

@include mediaSmMd{
    
    #no-pic{
        .menu-nav{
            .nav-item{
                font-size: 3.5em;
            }
        }
    }
}

@include mediaSmMd2{
    .projects {
        grid-template-columns: repeat(1, 1fr);
        
        }
    
    
    #no-pic{
        .menu-nav{
            .nav-item{
                font-size: 3em;
            }
         }
    }
}


//Smartphones

@include mediaSm {
    
    .lg-heading {
        margin-top: 4vh;
    }   

    .sm-heading {
        margin-top: 4vh;
        
    }   
    .menu-branding{
        
        .portrait{
        width: 7em;
        height: 7em;
        min-height: 5em;
        min-width: 5em;

        img{
            transform: translate(-0.9em, 2.1em);
            width: 140%;
        }


        }
    }

    .projects {
    grid-template-columns: repeat(1, 1fr);
    
    }
}