@import 'config';
@import 'placeholder';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    @include background;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6em;
    }
    &.sm-heading {
        margin-bottom: 2em;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2),0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    
    
}

.text-secondary {
    color: $secondary-color;
}

.text-tertiary {
    color: $tertiary-color;
}

main {
    padding: 4rem;
    //height: 100%;
    //instead, this will  ensure footer is always at the bottom
    

    .icons {
        margin-top: 1rem;
        margin-left: 1rem;

        a{
            padding: 0.4rem;

            &:hover {
                color: $tertiary-color;
                @include easeOutFast;
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
            cursor: pointer;
        }
    }

    &.more-opacity {
        opacity: 0.1;
        @include easeOut;
    }

    
}

//No image for most menus

#no-pic {
    .menu-branding{
        height: 0vh;

    
        .portrait{
            visibility: hidden;
        }
    }

    .menu-nav{
        float: right;
        height: 100vh;
        
    }
}

//Logo in Menu

.logo {
    width: 5rem;
}


//About Page

#about {
    .lg-heading{
        margin-bottom: 3rem;
    }
}

.about-info {
    display: grid;
    grid-template-areas:
    'bioimg bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 3em;

    .lg-heading{
        margin-bottom: 4rem;
    }
    .bioportrait {
        grid-area: bioimg;
        width: 15em;
        height: 15em;
        margin: auto;     

        .bioimg {
            width: 100%;           
            border-radius: 0.2em;    
        }
    }

    .bio {
        grid-area: bio;
        font-size: 1.3rem;
        p {
        border: solid 1px $tertiary-color;
        padding: 1rem;
        }
    }
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }

    .job{
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }

    .job-list{
            list-style-type: square;
    }

    .menu-branding {
        visibility: hidden;
    }
}

//Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: white 3px solid;

        &:hover {
            opacity: 0.8;
            border-color: $tertiary-color;
            @include easeOutFast;
        }
    }
}

//Contact Page

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border: 2px $secondary-color solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOutFast;
        
        &:hover {
            padding: 1.8rem 2.8rem;
            span {
                color: $tertiary-color;
            }
        }
    }

}



//Button Style (separate to projects in case we want to access this elsewhere)
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin: 0.3rem;
    cursor: pointer;
    &:hover {
        @include easeOutFast;
    }

}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 10);
    color: #fff;
}


.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #000;
}

#main-footer {
    text-align: right;    
    padding: 1rem;
    background: darken($primary-color, 10); 
    color: set-text-color($primary-color);
    height: 60px;    
    
    .footer-contents{
        display: inline-flex ;
        align-content: center;
    }


    #logo-foot{
        width: 1.5rem;
        margin-right: 0.5rem;
    }
}


/*Lets the content load before the media queries*/
@import 'mobile';